.simp_overlay{
  background:#000;
  display:none
  }

.simp_modal{
  width:700px;
  padding:30px;
  display:none;
  background:#FFF;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  box-shadow:0 0 8px rgba(0,0,0,0.4);
  -webkit-box-shadow:0 0 8px rgba(0,0,0,0.4);
  -moz-box-shadow:0 0 8px rgba(0,0,0,0.4);
  text-align:justify;margin-bottom:50px
  }

.simp_modal img{
  max-width:100%
  }

.simp_modal p{
  font-family:'Signika Negative',sans-serif;
  color:#4a382a;
  text-align:center
  }

.simp_modal .close_button{
  position:absolute;
  top:6px;
  right:8px;
  padding:0;
  cursor:pointer;
  background:transparent;
  border:0;-webkit-appearance:none;
  float:right;
  font-size:20px;
  font-weight:bold;
  line-height:20px;
  color:#000000;
  text-shadow:0 1px 0 #ffffff;
  opacity:0.2;
  filter:alpha(opacity=20);
  font-family:sans-serif
  }

.simp_modal .close_button:hover{
  color:#000000;
  text-decoration:none;
  cursor:pointer;
  opacity:0.4;
  filter:alpha(opacity=40)
  }

.swiper-container{
  margin:0 auto;
  position:relative;
  overflow:hidden;
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -ms-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  backface-visibility:hidden;
  z-index:1
  }

.swiper-wrapper{
  position:relative;
  width:100%;
  -webkit-transition-property:-webkit-transform,left,top;
  -webkit-transition-duration:0s;
  -webkit-transform:translate3d(0, 0, 0);
  -webkit-transition-timing-function:ease;
  -moz-transition-property:-moz-transform,left,top;
  -moz-transition-duration:0s;
  -moz-transform:translate3d(0, 0, 0);
  -moz-transition-timing-function:ease;
  -o-transition-property:-o-transform,left,top;
  -o-transition-duration:0s;
  -o-transform:translate3d(0, 0, 0);
  -o-transition-timing-function:ease;
  -o-transform:translate(0, 0);
  -ms-transition-property:-ms-transform,left,top;
  -ms-transition-duration:0s;
  -ms-transform:translate3d(0, 0, 0);
  -ms-transition-timing-function:ease;
  transition-property:transform, left, top;
  transition-duration:0s;
  transform:translate3d(0, 0,0);transition-timing-function:ease;
  -webkit-box-sizing:content-box;
  -moz-box-sizing:content-box;
  box-sizing:content-box
  }

.swiper-free-mode>.swiper-wrapper{
  -webkit-transition-timing-function:ease-out;
  -moz-transition-timing-function:ease-out;
  -ms-transition-timing-function:ease-out;
  -o-transition-timing-function:ease-out;
  transition-timing-function:ease-out;
  margin:0 auto
  }

.swiper-slide{float:left}

.swiper-wp8-horizontal{-ms-touch-action:pan-y}

.swiper-wp8-vertical{-ms-touch-action:pan-x}

body,h1,h2,h3,h4,h5,h6,p{font-family:'Jacques Francois',serif}

h1,h2,h3,h4,h5,h6{font-weight:bold}

::-moz-selection{background-color:#000;color:#fff}

::selection{background-color:#000;color:#fff}

.page{background-position:top center;background-repeat:no-repeat;background-size:cover;min-height:530px;position:relative;overflow:hidden}

.page .menu{display:none}

@media (min-width:768px){.page .menu{display:block}}
@media (min-width:992px){.page{min-height:730px}}

.simp_overlay{background:#000;display:none}

.simp_modal{width:90%;padding:30px;display:none;background:#FFF;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;box-shadow:0 0 8px rgba(0,0,0,0.4);-webkit-box-shadow:0 0 8px rgba(0,0,0,0.4);-moz-box-shadow:0 0 8px rgba(0,0,0,0.4);text-align:justify;margin-bottom:50px}

@media (min-width:768px){.simp_modal{width:600px;margin-bottom:50px}}

.simp_moda .close_button{
  position:absolute;top:6px;right:8px;padding:0;cursor:pointer;background:transparent;border:0;-webkit-appearance:none;float:right;font-size:20px;font-weight:bold;line-height:20px;color:#000000;text-shadow:0 1px 0 #ffffff;opacity:0.2;filter:alpha(opacity=20);font-family:sans-serif}

.simp_modal .close_button:hover{
  color:#000000;text-decoration:none;cursor:pointer;opacity:0.4;filter:alpha(opacity=40)}.simp_modal.wide{width:900px}.simp_modal.narrow{width:225px}.simp_modal.dark{background:#333;color:#fff}.first-page{background-image:url(../img/background.jpg)}

.first-page .bottle{
   display:none;position:fixed;left:50%;margin-left:-144px;top:10px;background-image:url(../img/bottle.png);background-position:top center;background-repeat:no-repeat;width:216px;background-size:90%;height:1029px}

@media (min-width:768px){.first-page .bottle{display:block}}
@media (min-width:992px){.first-page .bottle{width:288px;background-size:100%}}

.first-page .logo_wrapper{text-align:center;margin-top:60px}

@media (min-width:768px){.first-page .logo_wrapper{text-align:left;margin-top:0px}}

.first-page .logo_wrapper .logo{
  background-image:url(../img/logo.png);background-position:center center;background-repeat:no-repeat;overflow:hidden;width:254px;height:141px;text-indent:-999px;display:inline-block}

.first-page h2{
  color:#fff;
  line-height:1.4;
  text-shadow:2px 2px 2px rgba(77,42,36,0.34);
  font-weight:normal;
  text-align:center;
  font-size:1.5em;
  margin-top:120px}

@media (min-width:768px){.first-page h2{margin-top:0px;font-size:2em;line-height:1.3;text-align:right}}
@media (min-width:992px){.first-page h2{margin-top:100px;font-size:2.3125em}}

.first-page .menu_wrapper{display:none}

@media (min-width:768px){.first-page .menu_wrapper{display:block}}

.first-page .menu{float:right;margin-top:50px}

.menu a{font-family:'Signika Negative',sans-serif;text-transform:uppercase;font-size:1em;font-weight:bold;margin:0px 7px;color:#4a382a;cursor:pointer}

@media (min-width:992px){.menu a{font-size:1.1em;margin:0px 10px}}

.menu dt,.menu dd{float:none;display:inline-block;margin-left:0.2em;margin-bottom:0em}

@media (min-width:768px){.menu dt,.menu dd{margin-left:0.5625em;margin-bottom:0.625em}}

.menu dt.active>a,.menu dd.active>a{
  color:#fff;background:#4a382a;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;padding:7px 11px}

.mobile_menu{background-color:#181413;color:#fff;position:fixed;z-index:100;margin:0px;padding:0px;float:none;-webkit-box-shadow:0 0 15px 0 rgba(0,0,0,0.2);-moz-box-shadow:0 0 15px 0 rgba(0,0,0,0.2);box-shadow:0 0 15px 0 rgba(0,0,0,0.2)}

@media (min-width:768px){.mobile_menu{display:none}}

.mobile_menu .menu{
  text-align:center;padding:0px;margin:0px;float:none}

.mobile_menu .menu a{display:block;color:#f2f2f2;margin:0px;padding:15px 7px}

.mobile_menu .menu a:hover{text-decoration:none}

.mobile_menu .menu dt.active>a,.mobile_menu .menu dd.active>a{background:#5C5343}

.mobile_menu .columns{padding-left:0em !important;padding-right:0em !important}

.about-page{background-color:#f3f3e7;background-image:url(../img/background2.jpg);-webkit-box-shadow:0 0 24px 0 rgba(0,0,0,0.19);-moz-box-shadow:0 0 24px 0 rgba(0,0,0,0.19);box-shadow:0 0 24px 0 rgba(0,0,0,0.19);padding-top:75px;padding-bottom:95px}

.about-page .menu{margin-bottom:40px;text-align:center}

.about-page .main-text{font-size:1.05em;color:#453F35;margin-bottom:30px}

.about-page .columns h2{color:#ABA79C;font-family:'Signika Negative',sans-serif;font-size:1.9em}

.about-page #team-gallery{list-style:none;padding:0;margin:0;font-family:'Signika Negative',sans-serif}

.about-page #team-gallery .team-member{display:block;float:left;margin:5px 8px;text-align:center;cursor:pointer;height:110px}

.about-page #team-gallery .team-member .team-thumb{
  width:60px;height:60px;-webkit-border-radius:30px;-moz-border-radius:30px;border-radius:30px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;-webkit-transition:all .2s ease;-moz-transition:all .2s ease;-ms-transition:all .2s ease;-o-transition:all .2s ease;margin-bottom:7px}

.about-page #team-gallery .team-member .team-name{display:block}

.about-page #team-gallery .team-member .team-job{display:block;font-size:12px;color:#78736c}

.about-page #team-gallery .team-member:hover .team-thumb{-webkit-transform:scale(1.2);-moz-transform:scale(1.2);-ms-transform:scale(1.2);-o-transform:scale(1.2);margin-bottom:11px}

.about-page #team-gallery .team-member .team-details{display:none}

.about-page .gallery{padding:10px 0px;text-align:center;margin-bottom:30px}

.about-page .gallery>li{float:none;display:inline-block}

.about-page .gallery>li>.photo{
  -webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;-webkit-box-shadow:1px 1px 5px 0 rgba(0,0,0,0.1);-moz-box-shadow:1px 1px 5px 0 rgba(0,0,0,0.1);box-shadow:1px 1px 5px 0 rgba(0,0,0,0.1);-webkit-transition:all .2s ease;-moz-transition:all .2s ease;
  -ms-transition:all .2s ease;-o-transition:all .2s ease;background-color:#fafaf4;padding:8px;margin:10px;margin-bottom:20px;display:inline-block;cursor:pointer;border:1px solid #F3F3ED}

.about-page .gallery>li>.photo>img{-webkit-transition:all .2s ease;-moz-transition:all .2s ease;-ms-transition:all .2s ease;-o-transition:all .2s ease;-webkit-filter:grayscale(50%);-moz-filter:grayscale(50%);filter:grayscale(50%);width:100px;height:75px}

@media (min-width:768px){.about-page .gallery>li>.photo>img{width:200px;height:150px}}

.about-page .gallery>li:nth-child(5n-9)>.photo{-webkit-transform:rotate(-5deg);-moz-transform:rotate(-5deg);-ms-transform:rotate(-5deg);-o-transform:rotate(-5deg)}

.about-page .gallery>li:nth-child(5n-8)>.photo{-webkit-transform:rotate(2deg);-moz-transform:rotate(2deg);-ms-transform:rotate(2deg);-o-transform:rotate(2deg)}

.about-page .gallery>li:nth-child(5n-7)>.photo{-webkit-transform:rotate(-1deg);-moz-transform:rotate(-1deg);-ms-transform:rotate(-1deg);-o-transform:rotate(-1deg)}

.about-page .gallery>li:nth-child(5n-6)>.photo{-webkit-transform:rotate(7deg);-moz-transform:rotate(7deg);-ms-transform:rotate(7deg);-o-transform:rotate(7deg)}

.about-page .gallery>li:nth-child(5n-5)>.photo{-webkit-transform:rotate(1deg);-moz-transform:rotate(1deg);-ms-transform:rotate(1deg);-o-transform:rotate(1deg)}

.about-page .gallery>li:hover>.photo{
  -webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);-o-transform:rotate(0deg);-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-ms-transform:scale(1.1);-o-transform:scale(1.1)}

.about-page .gallery>li:hover>.photo>img{-webkit-filter:grayscale(0);-moz-filter:grayscale(0);filter:grayscale(0)}

.about-page .clearing-blackout{background-color:rgba(0,0,0,0.9)}

.about-page .clearing-assembled .clearing-container .visible-img,.about-page .clearing-assembled .clearing-container .carousel,.about-page .clearing-caption{background-color:rgba(0,0,0,0)}

.about-page .clearing-blackout .gallery>li>.photo{
  -webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);-o-transform:rotate(0deg);padding:0px;margin:0px;margin-bottom:0px;display:inline-block;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box
  }

.about-page .renting-info{text-align:center;line-height:2em}

.about-page .renting-info a{cursor:pointer;text-decoration:underline;color:#4A382A}

.about-page .renting-info a:hover{color:#000}

.team-details-member{text-align:center}

.team-details-member .team-photo{
  -webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box
  }

.wines-page{background-color:ivory;-webkit-box-shadow:0 0 24px 0 rgba(0,0,0,0.19);-moz-box-shadow:0 0 24px 0 rgba(0,0,0,0.19);box-shadow:0 0 24px 0 rgba(0,0,0,0.19);padding-top:75px;padding-bottom:75px}

.wines-page .wine{margin-bottom:25px}

.wines-page .menu{text-align:center}

.wines-page .menu dd>a{color:#e7e7de}

.wines-page .menu dd.active>a{color:#332e2e;background:#e7e7de}

.wines-page .title{font-size:2.25em;color:#e7e7de;text-align:center}

.wines-page .subtitle{font-family:'Signika Negative',sans-serif;color:#eeeee5;font-size:2em}

.wines-page .winebottle{text-align:center}

.wines-page .block1{text-align:right}

.wines-page .block2{text-align:left}

.wines-page .block3{text-align:left}

.wines-page p{color:#78736c}

@media (min-width:992px){.wines-page p{font-size:1.1em}}

.wines-page .intro{font-size:1.1em;color:#A5A5A1;text-align:center}

@media (min-width:992px){.wines-page .intro{font-size:1.2em}}

.wines-page .winebottle img{width:100%;max-width:197px}

.wines-page .wine_inline{width:40%;display:inline-block;float:left;margin-right:15px}

.wines-page .wine_inline img{max-height:320px;margin:20px;margin-top:0px}

.wines-page .wine_inline.wine_chardonnay_inline{float:right;margin-right:0px;margin-left:15px}

.wines-page .wine_inline.wine_chardonnay2016_inline{float:left;margin-left:0px;margin-right::15px}

.wines-page .order-wrapper{padding-top:20px}

.wines-page .order-wrapper .btn{font-family:'Signika Negative',sans-serif}

.wines-page .order_wrapper .button{
  background-color:#eeeee5;border:0px;color:#4C81AA;font-family:'Signika Negative',sans-serif;
  text-transform:uppercase;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px}

.visit-page{background-color:#879cc7;background-image:url(../img/background1.jpg);background-position:bottom center;padding-top:75px}

.visit-page h2{color:#4C81AA;}

.visit-page .menu{margin-bottom:40px}

.visit-page .menu dd>a{color:#332E2E}

.visit-page .menu dd.active>a{color:#332E2E;background:#E7E7DE}

.visit-page .row{position:relative}

.visit-page .bottle{display:none;position:absolute;right:0%;top:-290px;background-image:url(../img/bottle2.png);background-position:top center;background-repeat:no-repeat;width:288px;background-size:100%;height:1029px}

.visit-page label{font-family:'Signika Negative',sans-serif;text-transform:uppercase}

.visit-page input,.visit-page textarea{border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px}

.visit-page textarea{height:7em}.visit-page .button{background-color:#4C81AA;border:0px;color:#EEEEE5;font-family:'Signika Negative',sans-serif;text-transform:uppercase;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none}

.visit-page .property{
  background-color:#fafaf4;padding:10px 20px;margin:5px;margin-bottom:20px;display:inline-block;position:relative;font-family:'Signika Negative',sans-serif;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #F3F3ED;-webkit-box-shadow:1px 1px 5px 0 rgba(0,0,0,0.1);
  -moz-box-shadow:1px 1px 5px 0 rgba(0,0,0,0.1);box-shadow:1px 1px 5px 0 rgba(0,0,0,0.1)}

.visit-page .property .title{
  color:#4a382a;margin-top:10px;font-family:'Signika Negative',sans-serif
  }

.visit-page .property .subtitle{color:#78736c;font-family:'Signika Negative',sans-serif}

.visit-page .property .property-photo{
  width:100%;padding-bottom:60%;position:relative;margin-bottom:10px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;background-color:#cccccc;background-position:center center;background-size:cover;background-repeat:no-repeat;-webkit-transition:all .2s ease;
  -moz-transition:all .2s ease;-ms-transition:all .2s ease;-o-transition:all .2s ease;-webkit-filter:grayscale(70%);-moz-filter:grayscale(70%);filter:grayscale(70%)
  }

.visit-page .property .property-photo:hover{
  -webkit-filter:grayscale(0);
  -moz-filter:grayscale(0);
  filter:grayscale(0)
}

.visit-page .property .book{display:block;margin-bottom:10px;font-size:20px}

.visit-page .property p{font-family:'Signika Negative',sans-serif}

.alternative{
  color:#332e2e;text-align:center;
  padding:15px 10px;
  background-color:rgba(231,231,222,0.88);line-height:1.8em;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;transform:rotate(-1deg);-ms-transform:rotate(-1deg);-webkit-transform:rotate(-1deg);margin-bottom:100px}

@media only screen and (min-width:48em){.bottle{display:block}.book{position:absolute;top:20px;right:20px;font-size:14px !important}}
